In [2]:
import pickle
import numpy as np
import pandas as pd

players=pd.read_csv("nfl-big-data-bowl-2022/players.csv")
plays=pd.read_csv("nfl-big-data-bowl-2022/plays.csv")
scout=pd.read_csv("nfl-big-data-bowl-2022/PFFScoutingData.csv")
track=pd.read_csv("nfl-big-data-bowl-2022/tracking2018.csv")

C:\Users\xnive\anaconda3\envs\tf\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\xnive\anaconda3\envs\tf\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\xnive\anaconda3\envs\tf\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [3]:
players.head()

,nflId,height,weight,birthDate,collegeName,Position,displayName
0,42901,6-1,208,1992-07-25,James Madison,SS,Dean Marlowe
1,43501,6-0,220,1994-08-11,Central Michigan,FS,Kavon Frazier
2,43534,6-0,205,1993-06-02,Illinois,SS,Clayton Fejedelem
3,43535,6-1,235,1992-12-22,Temple,MLB,Tyler Matakevich
4,44174,6-1,236,1993-02-22,Texas Tech,ILB,Sam Eguavoen

In [7]:
track.columns

Index(['time', 'x', 'y', 's', 'a', 'dis', 'o', 'dir', 'event', 'nflId',
       'displayName', 'jerseyNumber', 'position', 'team', 'frameId', 'gameId',
       'playId', 'playDirection'],
      dtype='object')

In [9]:
import re
plays["receiver"]=plays["playDescription"].map(lambda x: re.findall(" ([A-Z])\.([A-Z].*?) ", x)[-1] if len(re.findall(" [A-Z]\.([A-Z].*?) ", x))>=1 else 0)

In [10]:
plays["receiver"]

0                    0
1           (J, Hardy)
2          (M, Bryant)
3          (S, Gibson)
4        (C, Johnston)
             ...
19974                0
19975                0
19976                0
19977                0
19978     (N, Bellore)
Name: receiver, Length: 19979, dtype: object

In [5]:
plays["returnerId"]

0          NaN
1        42450
2          NaN
3        44979
4          NaN
         ...
19974      NaN
19975      NaN
19976      NaN
19977      NaN
19978      NaN
Name: returnerId, Length: 19979, dtype: object

In [2]:
plays.columns

Index(['gameId', 'playId', 'playDescription', 'quarter', 'down', 'yardsToGo',
       'possessionTeam', 'specialTeamsPlayType', 'specialTeamsResult',
       'kickerId', 'returnerId', 'kickBlockerId', 'yardlineSide',
       'yardlineNumber', 'gameClock', 'penaltyCodes', 'penaltyJerseyNumbers',
       'penaltyYards', 'preSnapHomeScore', 'preSnapVisitorScore', 'passResult',
       'kickLength', 'kickReturnYardage', 'playResult',
       'absoluteYardlineNumber'],
      dtype='object')

In [2]:
plays.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,specialTeamsPlayType,specialTeamsResult,kickerId,...,penaltyCodes,penaltyJerseyNumbers,penaltyYards,preSnapHomeScore,preSnapVisitorScore,passResult,kickLength,kickReturnYardage,playResult,absoluteYardlineNumber
0,2018090600,37,J.Elliott kicks 65 yards from PHI 35 to end zo...,1,0,0,PHI,Kickoff,Touchback,44966.0,...,NaN,NaN,NaN,0,0,NaN,66.0,NaN,40,45
1,2018090600,366,"(9:20) C.Johnston punts 56 yards to ATL 36, Ce...",1,4,4,PHI,Punt,Return,45603.0,...,UNSd,PHI 18,-15.0,0,0,NaN,56.0,5.0,36,18
2,2018090600,658,"(5:03) M.Bryant 21 yard field goal is GOOD, Ce...",1,4,3,ATL,Field Goal,Kick Attempt Good,27091.0,...,NaN,NaN,NaN,0,0,NaN,21.0,NaN,0,13
3,2018090600,677,M.Bosher kicks 64 yards from ATL 35 to PHI 1. ...,1,0,0,ATL,Kickoff,Return,37267.0,...,NaN,NaN,NaN,0,3,NaN,64.0,30.0,34,75
4,2018090600,872,"(:33) C.Johnston punts 65 yards to end zone, C...",1,4,18,PHI,Punt,Touchback,45603.0,...,NaN,NaN,NaN,0,3,NaN,65.0,NaN,45,45

In [13]:
plays[(plays["gameId"]==2018090600)&(plays["playId"]==1606)]["playDescription"][9]

'M.Bosher kicks 68 yards from ATL 35 to PHI -3. S.Gibson to PHI 10 for 13 yards (K.Ishmael). PENALTY on PHI-A.Maddox, Offensive Holding, 5 yards, enforced at PHI 10.'

In [21]:
list(set(track["event"]))[40:70]

['field_goal_blocked',
 'field_goal_fake',
 'free_kick',
 'touchback',
 'pass_outcome_touchdown',
 'punt_blocked',
 'tackle',
 'out_of_bounds',
 'kick_received',
 'pass_arrived',
 'xp_fake',
 'fumble',
 'safety',
 'huddle_break_offense',
 'punt_downed',
 'line_set',
 'penalty_flag',
 'punt_fake']

In [9]:
track[(track["gameId"]==2018090600)& (track["playId"]==366) & (track["displayName"]=="football")]

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,team,frameId,gameId,playId,playDirection
12073722,2018-09-07T01:18:14.000,17.90,29.93,0.00,0.00,0.00,NaN,NaN,None,NaN,football,NaN,NaN,football,1,2018090600,366,right
12073723,2018-09-07T01:18:14.100,17.90,29.93,0.00,0.00,0.00,NaN,NaN,None,NaN,football,NaN,NaN,football,2,2018090600,366,right
12073724,2018-09-07T01:18:14.200,17.90,29.93,0.00,0.00,0.00,NaN,NaN,None,NaN,football,NaN,NaN,football,3,2018090600,366,right
12073725,2018-09-07T01:18:14.300,17.90,29.93,0.00,0.00,0.00,NaN,NaN,None,NaN,football,NaN,NaN,football,4,2018090600,366,right
12073726,2018-09-07T01:18:14.400,17.90,29.93,0.00,0.00,0.00,NaN,NaN,None,NaN,football,NaN,NaN,football,5,2018090600,366,right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12073845,2018-09-07T01:18:26.300,69.11,51.15,2.65,4.30,0.19,NaN,NaN,None,NaN,football,NaN,NaN,football,124,2018090600,366,right
12073846,2018-09-07T01:18:26.400,69.14,51.37,2.29,4.16,0.23,NaN,NaN,None,NaN,football,NaN,NaN,football,125,2018090600,366,right
12073847,2018-09-07T01:18:26.500,69.19,51.59,1.96,3.81,0.22,NaN,NaN,None,NaN,football,NaN,NaN,football,126,2018090600,366,right
12073848,2018-09-07T01:18:26.600,69.24,51.76,1.62,3.36,0.18,NaN,NaN,None,NaN,football,NaN,NaN,football,127,2018090600,366,right
12073849,2018-09-07T01:18:26.700,69.27,51.90,1.32,2.93,0.15,NaN,NaN,None,NaN,football,NaN,NaN,football,128,2018090600,366,right

In [5]:
plays.iloc[1]["playDescription"]

'(9:20) C.Johnston punts 56 yards to ATL 36, Center-R.Lovato. J.Hardy to ATL 41 for 5 yards (K.Grugier-Hill). PENALTY on PHI-S.Gibson, Unsportsmanlike Conduct, 15 yards, enforced at ATL 41.'

In [5]:
scout.head()

,gameId,playId,snapDetail,snapTime,operationTime,hangTime,kickType,kickDirectionIntended,kickDirectionActual,returnDirectionIntended,returnDirectionActual,missedTackler,assistTackler,tackler,kickoffReturnFormation,gunners,puntRushers,specialTeamsSafeties,vises,kickContactType
0,2018090600,37,NaN,NaN,NaN,3.85,D,R,R,NaN,NaN,NaN,NaN,NaN,8-0-2,NaN,NaN,PHI 23; PHI 27,NaN,NaN
1,2018090600,366,OK,0.84,2.12,4.46,N,C,C,C,R,PHI 57,NaN,PHI 54,NaN,PHI 18; PHI 29,NaN,NaN,ATL 83; ATL 27; ATL 34; ATL 21,CC
2,2018090600,658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PHI 58,NaN,NaN
3,2018090600,677,NaN,NaN,NaN,4.06,D,R,R,C,C,ATL 83,ATL 22,ATL 27,8-0-2,NaN,NaN,ATL 17; ATL 22,NaN,NaN
4,2018090600,872,OK,0.84,2.00,4.35,N,C,L,NaN,NaN,NaN,NaN,NaN,NaN,PHI 18; PHI 29,ATL 85,ATL 37,ATL 83; ATL 34; ATL 21,BF

In [6]:
track.head()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,team,frameId,gameId,playId,playDirection
0,2018-12-30T21:25:32.200,41.32,29.45,4.36,1.33,0.43,130.42,128.44,None,39470.0,Justin Tucker,9.0,K,home,1,2018123000,36,right
1,2018-12-30T21:25:32.300,41.68,29.17,4.59,1.24,0.45,128.59,127.81,None,39470.0,Justin Tucker,9.0,K,home,2,2018123000,36,right
2,2018-12-30T21:25:32.400,42.05,28.88,4.74,0.99,0.47,124.47,128.15,None,39470.0,Justin Tucker,9.0,K,home,3,2018123000,36,right
3,2018-12-30T21:25:32.500,42.43,28.59,4.87,0.71,0.48,126.02,127.35,None,39470.0,Justin Tucker,9.0,K,home,4,2018123000,36,right
4,2018-12-30T21:25:32.600,42.84,28.31,4.96,0.79,0.50,131.71,124.75,None,39470.0,Justin Tucker,9.0,K,home,5,2018123000,36,right

In [9]:
track[(track["playId"]==36)&(track["gameId"]==2018123000)].to_csv("play_36.csv")

In [10]:
track[track["event"]!= "None"]

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,team,frameId,gameId,playId,playDirection
9,2018-12-30T21:25:33.100,44.96,27.21,4.48,2.52,0.46,116.48,110.83,kickoff,39470.0,Justin Tucker,9.0,K,home,10,2018123000,36,right
52,2018-12-30T21:25:37.400,64.55,26.23,6.29,0.59,0.63,88.91,90.88,kick_received,39470.0,Justin Tucker,9.0,K,home,53,2018123000,36,right
78,2018-12-30T21:25:40.000,75.69,18.68,4.08,2.76,0.42,103.03,176.42,first_contact,39470.0,Justin Tucker,9.0,K,home,79,2018123000,36,right
95,2018-12-30T21:25:41.700,73.35,15.53,1.57,1.57,0.16,80.87,256.49,tackle,39470.0,Justin Tucker,9.0,K,home,96,2018123000,36,right
114,2018-12-30T21:25:33.100,62.23,14.30,0.96,1.96,0.09,285.22,86.97,kickoff,40579.0,Ray-Ray Armstrong,52.0,OLB,away,10,2018123000,36,right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12777215,2018-09-11T05:25:17.300,82.48,42.70,4.12,2.89,0.42,126.41,93.93,touchback,45345.0,Nicholas Morrow,50.0,ILB,home,54,2018091001,4033,right
12777235,2018-09-11T05:25:13.000,43.84,18.17,1.70,2.16,0.17,34.68,80.49,kickoff,46216.0,Micah Kiser,59.0,LB,away,11,2018091001,4033,right
12777278,2018-09-11T05:25:17.300,73.99,26.04,8.75,1.25,0.88,67.13,65.37,touchback,46216.0,Micah Kiser,59.0,LB,away,54,2018091001,4033,right
12777298,2018-09-11T05:25:13.000,45.13,29.86,0.13,0.03,0.01,NaN,NaN,kickoff,NaN,football,NaN,NaN,football,11,2018091001,4033,right
12777341,2018-09-11T05:25:17.300,121.37,51.16,4.08,0.18,0.52,NaN,NaN,touchback,NaN,football,NaN,NaN,football,54,2018091001,4033,right

In [ ]:
#idea to make a prediction on if a retrun is longer than 20 yards based on positions at the instant of kick_received.
#to do this make predictive variables be the positions of all players, positions minus receiver, and midpoint of any two players, and that minus receiever
#XGBoost